
<div id="concert-allx">

  <div class="concert-box">
    <a href="juventus/07" title="">
      <span>2015/4/26</span>
      <div class="concert-img-box">
        <img src="assets/orchestra.jpg" width="200" height="150" alt="">
      </div>
      <p class="concert-title">ユベントス第９回定期演奏会</p>
      <p class="concert-program">ベートーヴェン、シサスク</p>
    </a>
  </div>

  <div class="clear">
  </div>

  <div class="box">
    <a href="" title="">
      <span>2015/3/14</span>
      <div class="concert-img-box">
        <img src="/images/orchestra.jpg" alt="">
      </div>
      <p class="concert-title">慶應義塾ワグネル・ソサエティー・オーケストラ第２００回演奏会</p>
      <p class="concert-program">リヒャルト・シュトラウス、ブラームス</p>
    </a>
  </div>

</div>