

<div class="row">

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">ユベントス第９回定期演奏会</h4>
        <p style="height: 80px; overflow:hidden;">ベートーヴェン、シサスクあｊｋｄｓｆｇｊ；あｄｆこ；ｈｇｄｋｌ；ｊｄｓｋｌｆｊｄさｋｌ；ｆｈｄｓｌ；ｇかｊ；ｒｋｊｇ；じゃｐｄｆしゅｈｓｄｆｊかｌｓｈｄｇｊｋぁｈｄｊｋｈｆｊｓｋｆｌはｊｋｆっｈｌｆさあｋｌｓでゃｊｋｌｇはｄｆｋｌｇっｊｇ；あｋｄｇああｇｄっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっｋｆ；ｊｄｋｓｌｆじゃｋｄｓｆｊ；ｄかｌｆｊかｄｌ；ｋっｊふぁｄｓ</p>
        <p><a href="#" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" style="margin-top: 10px;">
    <div class="thumbnail" style="position: relative; height: 400px;">
      <img src="assets/orchestra.jpg" alt="...">
      <span style="position: absolute; top: 15px; left: 10px; width: 40px; background: rgba(33, 33, 44, 0.7); color: #fff;">4/26</span>
      <div class="caption">
        <h4 style="height: 40px; overflow:hidden;">Ｎ響 第1805回定期Aプロ</h4>
        <div class="concertinfo" style="height: 100px; overflow:hidden;" >
          <p>指揮：セバスティアン・ヴァイグレ</p>
          <p>バス：ヨン・グァンチョル</p>
          <p>ベートーヴェン:交響曲第６番「田園」／ワーグナー:楽劇「トリスタンとイゾルデ」より・「ニュルンベルクのマイスタージンガー」より</p>
        </div>
        <p><a href="/concerts/1" class="btn btn-primary" role="button">詳細</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>
