    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-xs-8 col-xs-offset-2" style="margin-top: 30px">

                <div class="thumbnail">
                    <img class="img-responsive" src="<%= asset_path "orchestra.jpg" %>" alt="">
                    <div class="caption-full">
                        <h5>４月２６日</h5>
                        <h4><a href="#">Ｎ響 第1805回定期Aプロ</a>
                        <hr>
                        </h4>
                        <p>場所：NHKホール<a target="_blank" href="http://www.nhk-sc.or.jp/nhk_hall/">http://www.nhk-sc.or.jp/nhk_hall/</a>.</p>
                        出演
                        <ul style="list-style:none;">
                            <li>指揮：セバスティアン・ヴァイグレ</li>
                            <li>バス：ヨン・グァンチョル</li>
                        </ul>
                        <p>ベートーヴェン:交響曲第６番「田園」／ワーグナー:楽劇「トリスタンとイゾルデ」より・「ニュルンベルクのマイスタージンガー」より</p>
                        <p>料金：￥8800～1500 25歳以下￥5500～1500</p>
                        <p>チケットの問い合わせ：Ｎ響ガイド03-3465-1780</p>
                    </div>
                    
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">コメントを書く</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
