<!DOCTYPE html>
<html>
<head>
  <title>OrchestraLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="/">
                  Orchestra.navi
              </a>
          </li>
          <li>
              <a href="/orchestras/3">東京交響楽団</a>
          </li>
          <li>
              <a href="#">NHK交響楽団</a>
          </li>
          <li>
              <a href="#">新日本フィルハーモニー交響楽団</a>
          </li>
          <li>
              <a href="#">日本フィルハーモニー交響楽団</a>
          </li>
          <li>
              <a href="#">東京フィルハーモニー交響楽団</a>
          </li>
          <li>
              <a href="#">東京シティ・フィルハーモニック</a>
          </li>
          <li>
              <a href="#">読売日本交響楽団</a>
          </li>
          <li>
              <a href="#">東京都交響楽団</a>
          </li>
      </ul>
  </div>
<%= yield %>
</div>
</body>
</html>